aiocsv==1.2.4
aiofiles==23.1.0
aiogram==2.25.1
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.2
asyncio==3.4.3
attrs==23.1.0
Babel==2.9.1
beautifulsoup4==4.11.1
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==2.1.1
Cython==0.29.33
et-xmlfile==1.1.0
frozenlist==1.4.0
idna==3.4
magic-filter==1.0.10
multidict==6.0.4
npm==0.1.1
numpy==1.25.0
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tzdata==2023.3
urllib3==1.26.13
yarl==1.9.2
